*{
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    font-family: "Open Sans Light", sans-serif;
    color: black;
}

body{
    background-color: #fafafa;
}

header{
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    width: 100%;
}

#google-logo{
    width: 272px;
    height: 92px;
    margin-top: 45px;
}

.search{
    margin: 20px auto;
    border: 1px solid #bdbdbd;
    width: 550px;
    padding: 6px;
    font-size: 20px;
}

.widget{
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);

}
#widgets .widget{
    float: left;
    margin: 0px 15px;
}

nav{
    width: 960px;
    margin: 20px auto;
    height: 90px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 10px 0px 10px 20px;
    background-color: #000000;
    border-radius: 2px;

}
nav ul li a img{
    transition: all 0.2s;
}
nav ul li a img:hover{
    opacity: 0.65;
}
nav ul li a img:active{
    opacity: 1;
}

section.widget{
    width: 450px;
    height: 260px;
}

#widgets{
    width: 960px;
    margin: 0px auto;
}
section.widget p{
    padding: 0px;
    width: 210px;
    float: right;
}

img.weather-condition{
    width: 220px;
    height: 220px;
    float: left;
    margin: 10px;
    margin-bottom: 8px;
}
a.provider-link{
    display: block;
    clear: both;
    width: 450px;
    text-align: center;
    margin-top: auto;
    color: #212121;
    font-family: "Open Sans Extrabold", sans-serif;
    margin-bottom: 10px;
    font-size: 12px;
}
p.weather-temp{
    font-size: 72px;
    font-family: "Open Sans Extrabold", sans-serif;
    color: #757575;
    margin-top: 32px;
}
p.weather-city{
    font-size: 32px;
    font-family: "Open Sans Extrabold", sans-serif;
    color: #757575;
}

#inbox-title{
    float: left;
    font-size: 36px;
    font-family: "Open Sans Extrabold", sans-serif;
    color: #424242;
    margin-top: 11px;
    margin-left: 30px;
    margin-bottom: 10px;
}
#inbox-recieved{
    width: 100%;
    border-collapse: collapse;
    height: calc(100% - 70px);
}
.inbox-row{
    border-top: 2px solid #bdbdbd;
}
table td{
    display: inline-block;
}
.inbox-subject{
    color: #424242;
    font-size: 20px;
    font-family: "Open Sans Semibold", sans-serif;
    width: 110px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
    padding-left: 20px;
    margin-right: 20px;
}
.inbox-sepparator div{
    width: 1px;
    height: 36px;
    background-color: #bdbdbd;
    margin: 4px 0px;
}
.inbox-sender{
    padding-left: 20px;
    font-size: 18px;
    font-family: "Open Sans Regular", sans-serif;
    color: #616161;
    z-index: 2;
    margin-right: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
}
